{
	"destination": "C:\\Users\\myuser\\Saved Games\\Backups\\Diablo II Resurrected",
	"source": "C:\\Users\\myuser\\Saved Games\\Diablo II Resurrected",
	"timestamp_format": "%Y.%m.%d.%H.%M.%S",
	"prune": true,
	"limit_backups": true,
	"number_of_backups": 10
}